@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  height: 100vh;
  background-image: url(../assets/Img/fondo-index.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  body .body__div {
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: linear-gradient(to bottom, #000000, #000000, #000000, #000000d1, #b9b9b900, #b9b9b900, #b9b9b900, #b9b9b900, #000000b5, #000000d5, #000000, #000000); }

#header {
  height: 15%;
  font-size: 1.2rem; }
  #header .header__navbar {
    background-color: #000000;
    margin-bottom: 50px;
    z-index: 1; }
  #header .header__nav {
    padding: 2.5rem;
    display: flex;
    justify-content: space-around; }
  #header .header__nav a {
    color: antiquewhite;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.3s; }
  #header .header__nav a:hover, #header a:focus {
    background-size: 100% 2px; }

#footer {
  height: 15%;
  font-size: 1.2rem; }
  #footer .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    #footer .footer .footer__a {
      color: antiquewhite;
      text-decoration: none;
      background-image: linear-gradient(currentColor, currentColor);
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: 0% 2px;
      transition: background-size 0.3s; }
    #footer .footer .footer__a:hover, #footer .footer a:focus {
      background-size: 100% 2px; }
    #footer .footer .footer__h4 {
      text-align: center; }
    #footer .footer .footer__isologo {
      width: 60px;
      display: flex;
      flex-direction: row; }
    #footer .footer .footer__isologo a {
      padding-left: 5px; }

.main {
  height: 70%; }
  .main .section__h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-style: italic; }
  .main .section__h2 {
    padding-bottom: 20px;
    margin-top: 120px; }

.main {
  height: 70%; }
  .main .section__nosotros__h1 {
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    color: antiquewhite;
    padding-top: 35px;
    padding-bottom: 35px; }
  .main .section__nosotros {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.407); }
    .main .section__nosotros .section__nosotros__div {
      color: antiquewhite;
      font-size: 1.2rem;
      width: 500px;
      height: 300px;
      margin-top: 20px;
      margin-bottom: 20px; }

.main {
  height: 70%; }
  .main .main__servicios__h1 {
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    color: antiquewhite;
    padding-top: 35px;
    padding-bottom: 35px; }
  .main .main__servicios {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    text-align: left;
    align-items: center; }
    .main .main__servicios .main__servicios__div {
      background-color: rgba(0, 0, 0, 0.407);
      width: 400px;
      height: 300px;
      color: antiquewhite;
      font-style: normal;
      font-size: 1.2rem;
      list-style-type: none;
      margin: 30px;
      padding: 20px; }

.main {
  height: 70%; }
  .main .main__planes__h1 {
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    color: antiquewhite;
    padding-top: 35px;
    padding-bottom: 20px; }
    .main .main__planes__h1 .section__planes {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      text-align: center; }
      .main .main__planes__h1 .section__planes .section__planes__div {
        background-color: rgba(0, 0, 0, 0.407);
        width: 30%;
        height: 50%;
        color: antiquewhite;
        font-style: normal;
        font-size: 1.2rem;
        list-style-type: none;
        margin-top: 30px;
        padding: 4%; }

.main {
  height: 70%; }
  .main .div__contacto {
    width: 50%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.407); }

/* Vista Mobile */
@media screen and (min-width: 320px) and (max-width: 768px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    gap: 0em 0em;
    grid-auto-flow: row;
    grid-template-areas: "header header header header" "main main main main" "footer footer footer footer"; }
  header {
    grid-area: header; }
  main {
    grid-area: main; }
  footer {
    grid-area: footer; }
  #header, #footer {
    font-size: 0.8rem;
    padding: 0%; }
  .div__isologo {
    width: 65px; }
  .footer__isologo {
    width: 45px; }
  .footer__h4 {
    font-size: 1rem; }
  .section__nosotros__h1 {
    text-align: center;
    font-size: 1rem;
    padding: 25px; }
  .section__nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0000007c; }
  .section__nosotros__div {
    text-align: center;
    font-size: 0.8rem;
    width: 250px;
    height: 150px; }
  .mapa {
    width: 100%;
    height: 200px; }
  /*CSS SERVICIOS*/
  .main__servicios__h1 {
    font-size: 1rem;
    margin: 0px;
    padding: 25px; }
  .main__servicios {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center; }
  .main__servicios__div {
    width: 400px;
    height: 120px;
    font-size: 0.8rem;
    margin: 5px; }
  /*CSS PLANES*/
  .main__planes__h1 {
    font-size: 1rem;
    padding: 25px; }
  .section__planes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center; }
  .section__planes__div {
    font-size: 0.8rem;
    padding: 5px;
    margin: 15px;
    width: 50%; } }
