#footer {
    height: 15%;
    font-size: 1.2rem;
        .footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
                .footer__a {
                    color: map-get($colores, blanco);
                    @include animacion-subrayado (none,linear-gradient(currentColor, currentColor),0% 100%,no-repeat,0% 2px,background-size .3s);
                }
                .footer__a:hover, a:focus {
                    background-size: 100% 2px;
                }
                .footer__h4 {
                    text-align: center;
                }
                .footer__isologo {
                    width: 60px;
                    display: flex;
                    flex-direction: row;
                }
                .footer__isologo a {
                    padding-left: 5px;
                }
        }
}
