@mixin animacion-subrayado($text-decoration, $background-image, $background-position, $background-repeat, $background-size, $transition) {
    text-decoration: $text-decoration;
    background-image: $background-image;
    background-position: $background-position;
    background-repeat: $background-repeat;
    background-size: $background-size;
    transition: $transition;
}