.main {
    height: 70%;
        .main__planes__h1 {
            text-align: center;
            font-size: 1.6rem;
            font-style: normal;
            color: map-get($colores, blanco);
            padding-top: 35px;
            padding-bottom: 20px;
                .section__planes {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: space-evenly;
                    text-align: center;
                        .section__planes__div {
                            background-color: map-get($colores, negrodifuminado);
                            width: 30%;
                            height: 50%;
                            color: map-get($colores, blanco);
                            font-style: normal;
                            font-size: 1.2rem;
                            list-style-type: none;
                            margin-top: 30px;
                            padding: 4%;
                        }
                }
        }
}
