.main {
    height: 70%;
        .main__servicios__h1 {
            text-align: center;
            font-size: 1.6rem;
            font-style: normal;
            color: map-get($colores, blanco);
            padding-top: 2.2rem;
            padding-bottom: 1rem;
        }

        .main__servicios__div {
            background-color: map-get($colores, negrodifuminado);
            width: 45rem;
            height: 22.7rem;
            padding-top: 1rem;
            color: map-get($colores, blanco);
        }
        }

